<% content_for :header do
  t(:text_user_registration_header)
end %>
<% content_for :text do
  t(:text_user_registration)
end %>
<%= form_with model: @user, url: registration_path do |f| %>
    <div class="form-group">
    	<%= f.label :lastname, t(:label_user_lastname), :class => 'small mb-1' %>
    	<%= f.text_field :lastname, :class => 'form-control py-4', :placeholder =>  t(:placeholder_user_lastname) %>
    	<%= f.label :firstname, t(:label_user_firstname), :class => 'small mb-1' %>
    	<%= f.text_field :firstname, :class => 'form-control py-4', :placeholder =>  t(:placeholder_user_firstname) %>
    	<%= f.label :secondname, t(:label_user_secondname), :class => 'small mb-1' %>
    	<%= f.text_field :secondname, :class => 'form-control py-4', :placeholder =>  t(:placeholder_user_secondname) %>
    </div>
    <div class="form-group">
      <%= f.label :company, t(:label_user_company), :class => 'small mb-1' %>
      <%= f.text_field :company, :class => 'form-control py-4', :placeholder => t(:placeholder_user_company) %>
    </div>
    <div class="form-group">
    	<%= f.label :email, t(:label_user_email), :class => 'small mb-1' %>
    	<%= f.email_field :email, :class => 'form-control py-4', :placeholder =>  t(:placeholder_user_email) %>
    	<%= f.label :email_confirmation, t(:label_user_email_confirmation), :class => 'small mb-1' %>
    	<%= f.email_field :email_confirmation, :class => 'form-control py-4', :placeholder =>  t(:placeholder_user_email_confirmation) %>
    </div>
    <div class="form-group">
        <%= f.label :subsystem_no, t(:label_user_subsystem_no), :class => 'small mb-1' %>
        <%= f.select :subsystem_no, Setting.subsystem_no.collect {|k,v| [v, k.to_s]}, { include_blank: false }, :class => 'form-control form-control-lg' %>
        <%= f.label :amenable, t(:label_user_amenable), :class => 'small mb-1' %>
        <%= f.text_field :amenable, :class => 'form-control py-4', :placeholder =>  t(:placeholder_user_amenable) %>
    </div>
    <div class="form-group mt-4 mb-0">
    	<%= f.submit t(:button_register), :class => 'btn btn-primary btn-block', data: { disable_with: t(:button_register_disable) } %>
    </div>
<% end %>
<div class="card-footer text-center">
  <div class="small"><%= link_to t(:link_password_recover), password_recovery_path %></a></div>
</div>
                                