<% content_for :header do %>
	<%= t(:password_recovery) %>
<% end %>
<% content_for :text do %>
 <%= t(:password_recovery_text) %>
<% end %>
<%= form_with do |f| %>
<div class="form-group">
	<%= f.label :email, t(:label_password_recovery), :class => 'small mb-1' %>
  <%= f.text_field :email, :class => 'form-control py-4', :placeholder =>  t(:placeholder_password_recovery) %>
  <div class="float-right">
		<%= f.submit t(:button_password_recovery), :class => 'btn btn-primary mt-2' %>
	</div>
<% end %>