<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <title><%= title %></title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag  'application', 'user_register', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-primary">
      <div id="layoutAuthentication">
          <div id="layoutAuthentication_content">
              <main>
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-7">
                              <div class="card shadow-lg border-0 rounded-lg mt-3">
                                  <div class="card-header"><h3 class="text-center font-weight-light my-4"><%= content_for :header %></h3></div>
                                  <div class="card-body">
                                    <div id="alert" style="display: none;" class="alert alert-danger small" role="alert"></div>
                                    <div class="small mb-3 text-muted" id="main"><%= content_for :text %></div>
                                    <div id="content"><%= yield %></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </main>
          </div>
      </div>
      <div class="loadingio-spinner-wedges-mbm5x7g994r">
        <div class="ldio-7jilsa7etq"><div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
        </div>
      </div>
      <div class="overlay"></div>
  </body>
</html>